{% extends './html/index.html' %}{% block card %}
<div class="about-container-title">
  <h1 class="about-title">Clima</h1>
</div>
<div class="about-container-paragraph">
  <p class="about-paragraph">
    Essa aplicação <em>web</em> foi criada para proporcionar aos seus usuários,
    dados metereológicos em tempo real, providos pelo serviço da
    <a href="https://openweathermap.org/">OpenWeather</a>.
  </p>
  <br />
  <p class="about-paragraph">
    Sobretudo, este é um projeto desenvolvido em HTML, CSS, Javascript e Python
    por meio do framework Flask. Por mais simples que pareça, foi muito
    importante para consolidar conhecimentos e novas habilidades ao criador.
  </p>
</div>
{% endblock %}
