{% extends './html/index.html' %}{% block card %}

    <div class="error-container-title">
        <h1 class="error-title">Ops!</h1>
    </div>
    <div class="error-container-paragraph">
        <p class="error-paragraph">
            Parece que você está tentando acessar algo de forma incorreta, por isso geramos um <strong>ERRO 400</strong>.
        </p>
        <br>
        <p class="error-paragraph">
            O problema está ocorrendo do seu lado. Talvez a <strong>URL</strong> que você está tentando acessar esteja <strong>incorreta</strong>! 🤓
        </p>
    </div>

{% endblock %}