{% extends './html/index.html' %}{% block card %}

<div class="error-container-title">
  <h1 class="error-title">Ops!</h1>
</div>
<div class="error-container-paragraph">
  <p class="error-paragraph">
    Parece que o local que você está buscando ainda não está na nossa base de
    dados. 😔
  </p>
  <br />
  <p class="error-paragraph">
    Mas vamos tentar resolver isso o mais rápido possível! 🤓
  </p>
  <p><strong>Algumas dicas:</strong></p>
  <ul>
    <li>Revise o local que você digitou</li>
    <li>Verifique se não há caracteres especiais</li>
    <li>Verifique se não há espaços desnecessários</li>
    <li>Informe uma cidade próxima</li>
  </ul>
</div>

{% endblock %}
