<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <title>Clima</title>
</head>
<body>
    <div class="main card center-text">
        <div class="line-text city">
            <h3>Sapiranga, RS</h3>
        </div>
        <div class="temperature ">
            <p class="temperature-value">{{temp}}°</p>
            <div class="temperature-metrics">
                <p class="current-temperature-metrics">C</p>
                <p><button class="toggle-temperature-metrics" type="reset" title="Alterar unidade de medidas">F</button></p>
            </div>
        </div>
        <div class="line-text weather-description">
            <h3>{{description}}</h3>
        </div>
        <div class="line-text updated-timestamp">
            <p>Atualizado à(s) {{current_time}}</p>
        </div>
        <div class="table weather-statistics">
            <table class="">
                <tr class="">
                    <td class="">Temp. Máxima {{temp_max}}°</td>
                    <td class="">Temp. Mínima {{temp_min}}°</td>
                </tr>
                <tr class="">
                    <td class="">Sensação térmica {{feels_like}}°</td>
                    <td class="">Umidade {{humidity}}%</td>
                </tr>
                <tr class="">
                    <td class="">Vento {{speed}} Km/h</td>
                    <td class="">Direção </td>
                </tr>
                <tr class="">
                    <td class="" title="">Visibilidade {{visibility}} Km</td>
                    <td class="" title="">Barômetro {{pressure}} hPa</td>
                </tr>
                <tr>
                    <td class="">Nascer do Sol {{sunrise}}</td>
                    <td class="">Por do Sol {{sunset}}</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="../js/index.js"></script>
</body>
</html>