{% extends './html/index.html' %}{% block card %}

<div class="error-container center-text">
    <div class="error-container-title">
        <h1 class="error-title">Ops!</h1>
    </div>
    <div class="error-container-paragraph">
        <p class="error-paragraph">
            Parece que estamos enfrentando um <strong>clima severo</strong> em nosso sistema, por isso foi geramos um <strong>ERRO 500</strong>.
        </p>
        <br>
        <p class="error-paragraph">
            Pedimos desculpa pelo transtorno. 😔
        </p>
        <br>
        <p class="error-paragraph">
            O problema está ocorrendo do nosso lado, mas já estamos trabalhando para resolvê-lo! 🤓
        </p>
        </p>
    </div>
</div>

{% endblock %}