{% extends './html/index.html' %}{% block card %}

<!-- <div class="error-container center-text"> -->
    <div class="error-container-title">
        <h1 class="error-title">Ops!</h1>
    </div>
    <div class="error-container-paragraph">
        <p class="error-paragraph">
            Parece que você está tentando obter algo pelo método incorreto, por isso geramos um <strong>ERRO 405</strong>.
        </p>
        <br>
        <p class="error-paragraph">
            Sugerimos utilizar <strong>POST</strong> ao invés de <strong>GET</strong>! 😉
            <br>
            Ou seria <strong>GET</strong> ao invés de <strong>POST</strong>... 🤔
        </p>
        </p>
    </div>
<!-- </div> -->

{% endblock %}