{% extends './html/index.html' %}{% block card %}

<!-- <div class="error-container center-text"> -->
<div class="error-container-title">
  <h1 class="error-title">Ops!</h1>
</div>
<div class="error-container-paragraph">
  <p class="error-paragraph">
    Parece que você está tentando acessar uma página que ainda não criamos, por
    isso geramos um <strong>ERRO 404</strong>.
  </p>
  <br />
  <p class="error-paragraph"><strong>Você veio do futuro?</strong> 🤔</p>
</div>
<!-- </div> -->

{% endblock %}
