{% extends './html/index.html' %}{% block card %}
<div class="privacy-container-title">
  <h2 class="privacy-title">Privacidade e Termos</h2>
</div>
<div class="privacy-container-paragraph">
  <h3 class="privacy-subtitle">Privacidade</h3>
  <p class="privacy-paragraph">
    Respeitamos a privacidade dos nossos usuários. Por isso, não coletamos,
    armazenamos ou compartilhamos quaisquer dados pessoais. O uso da aplicação
    não requer cadastro ou fornecimento de informações pessoais.
  </p>
  <br />
  <h3 class="privacy-subtitle">Termos de Uso</h3>
  <p class="privacy-paragraph">
    Esta aplicação utiliza dados meteorológicos fornecidos por um serviço de
    terceiros, a
    <a href="https://openweathermap.org/">OpenWeather</a>. Sendo assim, não nos
    responsabilizamos pela precisão, disponibilidade ou atualidade das
    informações apresentadas.
  </p>
  <br />
  <p class="privacy-paragraph">
    O uso deste serviço é totalmente voluntário e gratuito. O usuário compreende
    que as informações fornecidas são apenas para fins informativos e não devem
    ser usadas como única fonte para decisões críticas ou situações
    emergenciais.
  </p>
  <br />
  <p class="privacy-paragraph">
    Reservamo-nos o direito de alterar este documento a qualquer momento, sem
    aviso prévio, para garantir sua adequação às melhores práticas ou mudanças
    na aplicação.
  </p>
</div>
{% endblock %}
