@import url("./variables.css");

#header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  width: 100%;

  .menu-container {
    display: flex;
    width: 35%;

    .menu-item {
      color: var(--white);
      margin-left: 0.8rem;
      padding: .8rem 1rem;
      text-decoration: none;
    }
  }

  .theme-button {
    background-color: transparent;
    border: none;
    color: var(--black);
    margin-right: 1rem;
    padding: .8rem 1.5rem;
    width: auto;


    #theme-button-icon {
      color: var(--white);
      font-size: large;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: var(--screen-size-medium)) {
  #header {
    padding: 1rem 0;
  }
}