@import url("./variables.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

::placeholder {
  color: var(--placeholder-color);
  font-family: var(--font-family-main);
}

/* Elementos HTML */
html {
  font-family: var(--font-family-main);
  display: block;
}

body {
  position: relative;

  &.light {
    background: linear-gradient(#315b9f 50%, #0083c97e 100%) no-repeat;
  }

  &.dark {
    background: linear-gradient(#121212 50%, #171717 100%) no-repeat;
  }
}

h3 {
  margin: 0px;
}

table {
  font-size: small;
  margin: auto;
  white-space: nowrap;
  padding: 15px 0px 10px 0px;
}

td {
  padding: 10px;
  text-align: justify;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* Classes alinhamento */
.center-text {
  text-align: center;
  margin: auto;
}

#wind-deg {
  display: none;
}