element{
    --light-bg-color: linear-gradient(#0081C9,#0083c97e) no-repeat;
    --dark-bg-color: linear-gradient(#032233,#0083c97e) no-repeat;  
}

/* Elementos HTML */
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: SF Pro Display; */
    /* font-family: Martian Mono; */
    /* font-family: Fragment Mono; */
    text-shadow: 0px 0px 30px #cdcdcd;
}
table{
    font-size: small;
    margin: auto;
    white-space: nowrap;
    padding: 15px 0px 10px 0px;
}
td{
    padding: 10px;
    text-align: justify;
}

/* Classes alinhamento */
.center-text{    
    text-align: center;
}

/* Classes gerais */
.search-box-container{
    border-radius: 50px;
    box-shadow: 0px 0px 20px #cdcdcd;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 20px 0px;
    width: 400px;
}
.search-box{
    border: hidden;
    display: inline-block;
    font-size: larger;
}
.search-box-button{
    border: hidden;
    background-color: transparent;
    display: inline-block;
    font-size: larger;
    padding-left: 10px;
    text-align: right;
}
.main{
    /* background:linear-gradient(#032233,#0083c97e) no-repeat; */
    background:linear-gradient(#0272af 50%,#0083c97e 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 30px #032233;
    color: #ffffff;
    margin: auto;
    margin-top: 25px;
    opacity: 85%;
    padding: 25px;
    transition: 1s;
    width: 300px;
}
.temperature{
    display: inline-flex;
}
.temperature-value{
    font-size: 60px;
    padding: auto;
    margin: auto;
}
.toggle-temperature-metrics{
    border: 2px solid #ffffff;
    background:#0081C9;
    box-shadow: 0px 0px 10px #cdcdcd;
    color: #ffffff;
    font-family: Martian Mono;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.4s;
    opacity: 10%;
}

/* Classes Hover */
.search-box:focus{
    outline: none;
}
.main:hover{
    opacity: 100%;
    box-shadow: 0px 0px 50px #032233;
}
.toggle-temperature-metrics:hover{
    background:#0272af;
    box-shadow: 0px 0px 20px #cdcdcd;
    opacity: 100%;
}