
@import url("./variables.css");
@import url("./header.css");
@import url("./main.css");
@import url("./card.css");
@import url("./about.css");
@import url("./footer.css");

::placeholder{
    color: var(--placeholder-color);
    font-family: var(--font-family-main);
}

/* Elementos HTML */
html {
    font-family: var(--font-family-main);
    display: block;
}
body {
    background: linear-gradient(#315b9f 50%, #0083c97e 100%) no-repeat;
    position: relative;
}
h3 {
    margin: 0px;
}
table {
    font-size: small;
    margin: auto;
    white-space: nowrap;
    padding: 15px 0px 10px 0px;
}
td {
    padding: 10px;
    text-align: justify;
}


/* Classes alinhamento */
.center-text {
    text-align: center;
    margin: auto;
}

#wind-deg {
    display: none;
}
