@import url(./fonts.css);

/* Variáveis */
:root{
    --placeholder-color: #757575;
    --font-family-main: 'Nunito', sans-serif;


    /* Tamanhos de fontes */
    --font-size-small: 0.5rem;
    --font-size-base: 1rem;
    --font-size-big: 2rem;


    /* Cores */
    --black: #000000;
    --white: #ffffff;

    --white-warm: #e6e2d3;
}